<% if (typeof message !== 'undefined') { %>
  <div class="alert alert-success"><%= message %></div>
<% } %>

<% if (messages.error) { %>
  <% messages.error.forEach(function(message) { %>
    <div class="alert alert-danger"><%= message %></div>
  <% }); %>
<% } %>

<% if (messages.success) { %>
  <% messages.success.forEach(function(message) { %>
    <div class="alert alert-success"><%= message %></div>
  <% }); %>
<% } %>