<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Password Reset Request</h1>
  <%- include('partials/flashes') %>

  <form action="/requestPasswordReset" method="POST">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
    </div>
    <button type="submit">Request Reset Link</button>
  </form>
</body>
</html>
